body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  /* div {
    border: 1px solid black;
  } */

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading > h1 {
    margin: 0;
  }

  .heading > p {
    font-size: 18px;
    margin-top: 2px;
    border-bottom: 1px solid grey;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-info {
    font-size: 20px;
    height: 500px;
    width: 210px;
    margin: 10px 30px;
  }

  .go-to-btn {
    padding: 8px;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    width: 140px;
  }


/* Tablet/Desktop Styles */
  @media only screen and (min-width: 768px) {
    .game {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 500px;
    }

    .game-board {
      position: relative;
      bottom: 115px;
    }

    .game-info {
      font-size: 23px;
    }
  }